.banner {
	height: 89vh !important;
}

.banner-grids {
	margin-top: 0px !important;
	position: absolute;
	top: 20px;
	background: rgba(0,0,0,.6);
	left: 0;
	right: 0;
	font-family: Open Sans, sans-serif;
	font-size: 15px;
}

.banner-grid {
/*	padding-top: 15px !important;
	padding-bottom: 15px !important;
	text-align: left;*/
}

.banner-info {
	background: rgba(0,0,0,.6);
	font-family: sans-serif, Open Sans;
	border-radius: 5px;
}

.home-icon {
	max-height: 22px;
	margin-top: -5px;
}

.banner-info h1 {
	font-family: Lobster !important;
	letter-spacing: 4px;
}

.banner-info {
	padding-top: 7px;
	padding-bottom: 7px;
}

.nav-city-mention {
	width: 20%;
	font-size: 18px;
	color: #fff;
	opacity: 0.8;
	text-align: center;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: 2px 2px 10px #000;
}


.banner-left {
	color: #fff;
}

.banner-right {
	color: #fff;
}

.banner-middle {
	color: #fff;
	height: 90px;
	padding-left: 25px;
}

.top-contact-info-icon {
	float: left;
	position: absolute;
	margin-left: 12%;
	margin-top: 7%;
}

.top-contact-info-text {
	float: left;
	position: absolute;
	margin-left: 22%;
}

.top-text-left {
	margin-top: 8%;
}

.top-text-middle {
	margin-top: 3%;
}

.top-text-right {
	margin-top: 8%;
}