.banner {
	height: 89vh !important;
}

.banner-grids {
	margin-top: 0px !important;
	position: absolute;
	top: 20px;
	background: rgba(0,0,0,.6);
	left: 0;
	right: 0;
	font-family: Open Sans, sans-serif;
	font-size: 15px;
}

.banner-grid {
/*	padding-top: 15px !important;
	padding-bottom: 15px !important;
	text-align: left;*/
}

.banner-info {
	background: rgba(0,0,0,.6);
	font-family: sans-serif, Open Sans;
	border-radius: 5px;
}

.home-icon {
	max-height: 22px;
	margin-top: -5px;
}

.banner-info h1 {
	font-family: Lobster !important;
	letter-spacing: 4px;
}

.banner-info {
	padding-top: 7px;
	padding-bottom: 7px;
}

.nav-city-mention {
	width: 20%;
	font-size: 18px;
	color: #fff;
	opacity: 0.8;
	text-align: center;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: 2px 2px 10px #000;
}


.banner-left {
	color: #fff;
}

.banner-right {
	color: #fff;
}

.banner-middle {
	color: #fff;
	height: 90px;
	padding-left: 25px;
}

.top-contact-info-icon {
	float: left;
	position: absolute;
	margin-left: 12%;
	margin-top: 7%;
}

.top-contact-info-text {
	float: left;
	position: absolute;
	margin-left: 22%;
}

.top-text-left {
	margin-top: 8%;
}

.top-text-middle {
	margin-top: 3%;
}

.top-text-right {
	margin-top: 8%;
}

.footer {
	padding: 30px 0 !important;
}

.white {
	color: #fff;
}

.contact-info textarea {
	color: #666 !important;
}

.contact-info input {
	color: #666 !important;
}

#toTop {
	border: 2px solid #fff;
	border-radius: 20px;
	width: 36px;
	height: 35px;
}

.cnt-text {
	background: rgba(0,0,0,.6);
	border-radius: 25px;
	padding: 2px;
	height: 92px;
}

.cnt-email {
	padding-top: 30px;
}

.cnt-phone {
	padding-top: 12px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.message_sent_popup {
	display: none;
	position: absolute;
	z-index: 1001;
	margin-top: 120px;
	left: 33%;
	width: 400px;
	min-height: 50px;
	padding: 12px 10px 10px 10px;
	background-color: #800000;
	color: #fff;
	border: 1px solid #74c2e7;
	border-radius: 4px;
	text-align: center;
	font-size: 1.2em;
}

.message_sent_popup .closePopup {
	width: 32px;
	height: 32px;
	position: absolute;
	right: -12px;
	top: -12px;
	background: #800000;
	border-radius: 8px;
	border: 2px solid #74c2e7;
}
.message_sent_popup .closePopup .x {
	top: 5px;
	left: 4px;
}
.message_sent_popup .closePopup:hover {
	box-shadow: inset 2px 2px 10px #000;
}

label.x {
	cursor: pointer;
	height: 16px;
	width: 18px;
	position: absolute;
}
label.x:after {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	content: "\d7";
	font-size: 34px; 
	color: #FFF;
	line-height: 16px;
	text-align: center;
}